# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
Hardware/*.000
Hardware/*.bak
Hardware/*.sch-bak
Hardware/*.bck
Hardware/*.kicad_pcb-bak
Hardware/*~
Hardware/_autosave-*
Hardware/*.tmp
Hardware/*-save.pro
Hardware/*-save.kicad_pcb
Hardware/fp-info-cache

# Netlist files (exported from Eeschema)
Hardware/*.net

# Autorouter files (exported from Pcbnew)
Hardware/*.dsn
Hardware/*.ses

# VS Code settings.
Firmware/.vsteensy/build/
