# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
EncoderBoard/*.000
EncoderBoard/*.bak
EncoderBoard/*.bck
EncoderBoard/*.kicad_pcb-bak
EncoderBoard/*~
EncoderBoard/_autosave-*
EncoderBoard/*.tmp
EncoderBoard/*-save.pro
EncoderBoard/*-save.kicad_pcb
EncoderBoard/fp-info-cache

# Netlist files (exported from Eeschema)
EncoderBoard/*.net

# Autorouter files (exported from Pcbnew)
EncoderBoard/*.dsn
EncoderBoard/*.ses

# VS Code settings.
Firmware/.vsteensy/build/
